{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <h2>Le tue famiglie</h2>
            {% if families|length > 0 %}
                {% for family in families %}
                    <twig:FamilyCard family="{{ family }}" />

                    {#                        <li><a href="{{ path('family_edit', {id: family.id}) }}">{{ family.name }}</a></li>#}
                {% endfor %}
            {% endif %}
            <div class="d-grid">
                <a class="btn btn-primary" href="{{ path('family_create') }}">
                    <svg>
                        <use xlink:href="#plus-circle"></use>
                    </svg>
                    Aggiungi nuova
                </a>
            </div>
        </div>

    </div>

{% endblock %}
