{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <h2>Le tue famiglie</h2>
            {% if families|length > 0 %}
                <ul>
                    {% for family in families %}
                        <li><a href="{{ path('family_edit', {id: family.id}) }}">{{ family.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ path('family_create') }}">Aggiungi nuova</a>
        </div>

    </div>

{% endblock %}
