{% extends 'base.html.twig' %}
{% set familyId = family.id %}
{% block navbar %}
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container justify-content-end">
            <a class="btn btn-primary" href="{{ path('create_child', {id: familyId}) }}">
                + Bimbo
            </a>
            <a class="btn btn-primary" href="{{ path('family_create') }}">
                + Famiglia
            </a>
            <a class="btn btn-primary" href="{{ path('logout') }}">
                Logout
            </a>

        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="row justify-content-center pt-6">
        <div class="card col-sm-6">
            <div class="card-header bg-transparent border-bottom-0">
                <h5 class="card-title mb-0">Cosa vuoi ricordare oggi?</h5>
            </div>
            <div class="card-body">
                <ul class="nav">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#post-form">
                            Ricordo
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#weight-form">
                            Peso
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#height-form">
                            Altezza
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#temperature-form">
                            Temperatura
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="post-form">
                        <twig:PostForm :familyId="familyId"/>
                    </div>
                    <div class="tab-pane fade" id="weight-form">
                        <twig:ChildTimepointForm :familyId="familyId" timepointType="weight"/>
                    </div>
                    <div class="tab-pane fade" id="height-form">
                        <twig:ChildTimepointForm :familyId="familyId" timepointType="height"/>
                    </div>
                    <div class="tab-pane fade" id="temperature-form">
                        <twig:ChildTimepointForm :familyId="familyId" timepointType="bodyTemperature"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <twig:TimepointsFeed
            :family="family"
            :page="page"
    />
{% endblock %}
