{% extends 'base.html.twig' %}
{% set familyId = family.id %}
{% block navbar %}
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container justify-content-end">
            <a class="btn btn-primary" href="{{ path('create_child', {id: familyId}) }}">
                + Bimbo
            </a>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#height-timepoint-form">
                + Altezza
            </button>

            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weight-timepoint-form">
                + Peso
            </button>

            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#temperature-timepoint-form">
                + Temperatura
            </button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#post-form">
                + Ricordo
            </button>
            <a class="btn btn-primary" href="{{ path('logout') }}">
                Logout
            </a>

        </div>
    </nav>
{% endblock %}
{% block body %}
    <twig:TimepointsFeed
            :family="family"
            :page="page"
    />

    <div class="modal fade" id="height-timepoint-form" tabindex="-1">
        <twig:ChildTimepointForm :familyId="familyId" timepointType="height"/>
    </div>
    <div class="modal fade" id="weight-timepoint-form" tabindex="-1">
        <twig:ChildTimepointForm :familyId="familyId" timepointType="weight"/>
    </div>
    <div class="modal fade" id="temperature-timepoint-form" tabindex="-1">
        <twig:ChildTimepointForm :familyId="familyId" timepointType="bodyTemperature"/>
    </div>
    <div class="modal fade" id="post-form" tabindex="-1">
        <twig:PostForm :familyId="familyId"/>
    </div>
{% endblock %}
