{% extends 'base.html.twig' %}
{% block navbar %}
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container justify-content-end">
            <a class="btn btn-primary" href="{{ path('create_child', {id: familyId}) }}">
                + Bimbo
            </a>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="row justify-content-center pt-6">
        <div class="col-lg-4 col-sm-6">
            {% for timepoint in timepoints%}
                <twig:Timepoint :timepoint="timepoint"/>
            {% endfor %}
        </div>
        <twig:Paginator :pagination="timepoints"/>
    </div>
{% endblock %}
