@import '../../vendor/thomaspark/bootswatch/dist/minty/variables';
@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import '../../vendor/thomaspark/bootswatch/dist/minty/bootswatch';

.btn svg {
    width: 1em;
    height: 1em;
}

.card-footer .btn-link {
  text-decoration: none;
}
