{% set passord_recovery_path = url('password_recovery', {t: serialize_token(token)}) %}
<html>
    <head></head>
    <body>
        Ecco il tuo link per recuperare la password: <a href="{{ passord_recovery_path }}">{{ passord_recovery_path }}</a>
    </body>
</html>
