{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    {{ form(form, {action: path('password_reset'), method: 'POST'}) }}
                </div>
            </div>
            <div class="d-grid mt-3">
                <a class="btn btn-outline-primary bnt-block" href="{{ path('app_login') }}">Torna al login</a>
            </div>

        </div>

    </div>

{% endblock %}
