<div {{ attributes }}>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aggiungi ricordo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label required">Immagine</label>
                    <input type="file" name="image" required="required" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Didascalia</label>
                    <textarea data-model="debounce(750)|caption" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button
                        type="submit"
                        name="submit"
                        data-action="live#action"
                        data-live-action-param="files|save"
                        class="btn-primary btn"
                >
                    Condividi
                </button>
            </div>
        </div>
    </div>
</div>
