<div {{ attributes }} class="row justify-content-center pt-6">
    <div class="col-sm-6">
        {% for message in app.flashes('feed:success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('feed:success') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% set lastDate = null %}
        {% if timepoints|length == 0 %}
            <div class="alert alert-info">
                Nessun contenuto da visualizzare
            </div>
        {% else %}
            <div class="timepoints-feed">
                {% for timepoint in timepoints%}
                    {% if lastDate is empty or lastDate != timepoint.date %}
                        {% if lastDate is not empty %}
                                <!--chiude timepoint-content -->
                                </div>
                            <!-- chiude timepoint-feed-item -->
                            </div>
                        {% endif %}
                        {% set lastDate = timepoint.date %}
                        <div class="timepoints-feed-item">
                            <div class="timepoint-dot"></div>
                            <div class="timepoint-content">
                                <strong>{{ timepoint.date|date('d/m/Y') }}</strong>
                    {% endif %}
                    <twig:Timepoint :key="timepoint.id" :timepoint="timepoint"/>
                    {% if loop.last %}
                            <!--chiude timepoint-content -->
                            </div>
                        <!-- chiude timepoint-feed-item -->
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if timepoints|length > 0 %}
            <twig:Paginator :pagination="timepoints"/>
        {% endif %}
</div>
